In [ ]:
#Câu 1
# 1.a. Lập trình hướng đối tượng
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = str(ma_nv)
        self.__luong_cb = float(luong_cb)

    # Phương thức lấy mã nhân viên
    def get_ma_nv(self):
        return self.__ma_nv

    # Phương thức lấy lương cơ bản
    def get_luong_cb(self):
        return self.__luong_cb

    # a.1. Phương thức tính lương 
    def tinh_luong(self):
        return self.__luong_cb
# a.2. Xây dựng 2 lớp con kế thừa
class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() * 1.2

class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() + 500000
    
# a.3. Khởi tạo danh sách chứa 3 đối tượng
luong_cb = 10000000

danh_sach_nv = [
    NhanVien("NV001", luong_cb),
    NhanVienTangCa("TC002", luong_cb),
    NhanVienChuyenChuyen("CC003", luong_cb)
]

# Duyệt và in kq
print(f"{'Mã NV':<10} | {'Tiền lương tương ứng':<20}")
print("-" * 35)
for nv in danh_sach_nv:
    print(f"{nv.get_ma_nv():<10} | {nv.tinh_luong():>15,.0f} VND")

Mã NV      | Tiền lương tương ứng
-----------------------------------
NV001      |      10,000,000 VND
TC002      |      12,000,000 VND
CC003      |      10,500,000 VND

In [21]:
# 1.b: Numpy - xử lý mảng
import numpy as np

san_luong = [12, None, 8, 15, None, 10]

# b.1. Chuyển thành mảng NumPy và reshape thành 2x3
arr = np.array(san_luong, dtype=float).reshape(2, 3)

# Thay thế giá trị NaN bằng giá trị trung bình của mảng (loại trừ chính các giá trị NaN đó)
gia_tri_tb = np.nanmean(arr)
arr[np.isnan(arr)] = gia_tri_tb

print("Mảng 2x3 sau khi xử lý giá trị thiếu:")
print(arr)

# b.2. Trích xuất các phần tử có giá trị > 9
tap_hop_lon_hon_9 = arr[arr > 9]

# Tìm giá trị nhỏ nhất trong các phần tử vừa trích xuất
gia_tri_min = np.min(tap_hop_lon_hon_9)

print(f"\nCác phần tử lớn hơn 9: {tap_hop_lon_hon_9}")
print(f"Giá trị nhỏ nhất trong số đó: {gia_tri_min}")

Mảng 2x3 sau khi xử lý giá trị thiếu:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]

Các phần tử lớn hơn 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất trong số đó: 10.0

In [22]:
# Câu 2. Xử lý dữ liệu thực tế với Pandas và SQL
import pandas as pd

# 2.a. Lọc dữ liệu
# Đọc tệp dữ liệu từ thư mục DATA
df = pd.read_csv('DATA/nhan_su.csv')

# Lọc Ma_NV chứa "NS" (không phân biệt hoa thường) và Nam_Cong_Tac >= 2021
# na=False để bỏ qua các dòng có Ma_NV bị trống
df_filtered = df[
    (df['Ma_NV'].str.contains('NS', case=False, na=False)) & 
    (df['Nam_Cong_Tac'] >= 2021)
].copy()

In [23]:
# 2.b. Làm sạch dữ liệu
# Điền giá trị thiếu trong cột Thanh_Tich bằng giá trị trung bình
mean_thanh_tich = df_filtered['Thanh_Tich'].mean()
df_filtered['Thanh_Tich'] = df_filtered['Thanh_Tich'].fillna(mean_thanh_tich)

print(f"Giá trị trung bình dùng để điền: {mean_thanh_tich}")
df_filtered.info() # Kiểm tra xem còn giá trị null không

Giá trị trung bình dùng để điền: 88.33333333333333
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 10
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ma_NV         9 non-null      object
 1   Phong_Ban     9 non-null      object
 2   Thanh_Tich    9 non-null      float64
 3   Nam_Cong_Tac  9 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 360.0+ bytes

In [24]:
# 2.c. Tổng hợp dữ liệu (Groupby)
# Tính tổng điểm Thanh_Tich theo từng Phong_Ban
df_groupby = df_filtered.groupby('Phong_Ban')['Thanh_Tich'].sum().reset_index()

print("Tổng điểm thành tích theo phòng ban:")
df_groupby

Tổng điểm thành tích theo phòng ban:

   Phong_Ban  Thanh_Tich
0  KinhDoanh  348.333333
1    KyThuat  268.333333
2     NhanSu  178.333333

In [25]:
# 2.d. Biến đổi bảng
# Tạo bảng xoay chiều (Pivot Table)
pivot_table = df_filtered.pivot_table(
    index='Phong_Ban', 
    columns='Nam_Cong_Tac', 
    values='Thanh_Tich', 
    aggfunc='sum',
    fill_value=0
)

print("Bảng xoay chiều (Pivot Table):")
pivot_table

Bảng xoay chiều (Pivot Table):

Nam_Cong_Tac   2021       2022  2023        2024
Phong_Ban
KinhDoanh     165.0  88.333333  95.0    0.000000
KyThuat        88.0   0.000000   0.0  180.333333
NhanSu          0.0  88.333333  90.0    0.000000

In [26]:
# 2.e. Lưu trữ và truy vấn
import sqlite3
# Lưu vào tệp SQLite HeThong.db
path_db = 'OUTPUT/Hethong.db'
conn = sqlite3.connect(path_db)
pivot_table.to_sql('bang_luong_2024', conn, if_exists='replace')

# Truy vấn hiển thị 5 dòng đầu tiên
query = "SELECT * FROM bang_luong_2024 LIMIT 5"
df_check = pd.read_sql(query, conn)

print("Kết quả truy vấn từ Database:")
display(df_check)

# Đóng kết nối
conn.close()

Kết quả truy vấn từ Database:

   Phong_Ban   2021       2022  2023        2024
0  KinhDoanh  165.0  88.333333  95.0    0.000000
1    KyThuat   88.0   0.000000   0.0  180.333333
2     NhanSu    0.0  88.333333  90.0    0.000000